<li>
	<span class="vcard"><a class="fn nickname url" href="http://cursebird.com/<%- item.username %>"><%- item.username %></a></span> swears like <%- item.like %> <meter min="0" max="10000" value="<%- item.level %>">(<%- item.level %> Points)</meter>
</li>