	<hgroup>
		<h1>Fight now!</h1>
		<h2 class="vs">Vs</h2>
	</hgroup>

	<section class="vsList">
		<hgroup>
			<h2><%- first.listinfo.name ? first.listinfo.name : '...' %></h2>
			<h3>This list swears <span class="swears-like"><%- first.listlike %></span></h3>
		</hgroup>
		<ol>
<%- partial('item.ejs', first.curses) %>
		</ol>
	</section>
	<section class="vsList">
		<hgroup>
			<h2><%- second.listinfo.name ?  second.listinfo.name : '...' %></h2>
			<h3>This list swears <span class="swears-like"><%- second.listlike %></span></h3>
		</hgroup>
		<ol>
<%- partial('item.ejs', second.curses) %>
		</ol>
	</section>
